/*Cabeçalho*/

body{
    background-color: whitesmoke;
    margin: 0px;
}

header{
    height: 120px;
    background-color: rgb(49, 49, 117);
    width: 100%;
    outline: 0px;
   background-image: linear-gradient(180deg,rgb(206, 106, 164), purple);
    padding-top: 5px;
    border: none;
}

nav{
    text-align: center;
    width: 100%;
    outline: 0px;
    /*o padding completo estava bugando a tela adicionando uma barra de rolagem, coloquei apenas o padding em baixo*/
    padding-bottom: 10px;
    background-color: purple;
}

nav > a{
    padding: 10px;
    text-align: center;
    margin: 0px;
    outline: 0px;
    color: black;
    text-decoration: none;
}
nav > a:hover{
    background-color: yellow;
   border-top-left-radius: 10px;
}

#TituloPrincipal{
    color: yellow;
    text-align: center;

}

#SubPrincipalParagrafo{
    color: yellow;
    text-align: center;
    font-weight: bold;

}

/*conteudo*/

/*

    MODIFICAÇÕES E AJUSTES

    *ajustei os titulos e paragrafos
    *ajustei a largura da tela de leitura 
    *fiz a identação dos paragrafose títulos
    *ajustei as margens do footer
    *ajustei as margins da div para não colarem no article
    *ajustei o espaçamento das listas
    *footer ajustado, porem, os links das redes sociais estão muitos espaçados entre si. conserte.

*/

article{
    max-width: 800px;
    margin: auto;
    background-color: white;
    
    
}

article > div > h2,h1{
    text-indent: 20px;
}

#div1, #div2, #div3, #div4, #div5, #div6{
    max-width: 750px;
    margin: auto;
}

div > p{
    text-align: justify;
    text-indent: 20px;
    font-size: large;
}

ul > li{
    padding-top: 10px;
}

/*Configurando o footer*/

footer{
    max-width: 750px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}

footer > ul{
    list-style: none;
    display: flex;
    
}

footer > ul > li    {
 margin: auto;  

}

footer > ul > li > a{
    text-decoration: none;
}

#nomeAutor{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
}


